

li{
    padding: 10px 30px;

   
    
}
.forcast{

    border-radius: 12px;
}

.weather-wrapper{
    border: 2px solid ;
    background-image: url("./images/clearclouds.jpg");
    background-size:cover ;
    

}
ul{
    text-align: left;
    border: 2px solid grey;
    border-radius: 30px;
    margin: 20px 700px 20px 70px;
    list-style: none;
    padding: 20px ;
    
}

.Weather .canvas{
    

}